.header {

    margin: 0 10%;

    &__top {
        display: flex;
    }

    &__top {
        justify-content: space-between;
    }

    &__top p {
        text-transform: uppercase;
    }

    &__icons {
        @include horizontal-list;
    }
}
