.header {
    
    &__top {
        display: flex;
        padding: 0 10%;
        @include backgroundColor(#252525);
    }

    &__top {
        justify-content: space-between;
        @include color(white);
    }

    &__top p {
        text-transform: uppercase;
    }

    &__icons {
        @include horizontal-list;
    }
}
