@mixin color($color) {
    color: $color;
}

@mixin backgroundColor($color) {
    background-color: $color;
}

@mixin backgroundImg($src, $repeat: no-repeat) {
    background-image: $src;
    background-repeat: $repeat;
}